:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  /* color: #7c7878; */
  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

button {
  width: 125px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #ffffff;
  border: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: inherit;
  letter-spacing: inherit;
}

button:hover {
  background-color: #6c8cff;
  transition: background-color 0.2s ease;
}
